extends layout

block content
  h1 Akinyemi's Submission
  p.lead Welcome.
  hr
  .row
    .col-md-6
      
      a.btn.btn-raised(href='/segwit', role='button') Generate SEGWIT »
    .col-md-6
      
      a.btn.btn-raised(href='/p2sh', role='button') Generate P2SH »
    